body{
    margin: 0;
    padding: 0;
    background-color: peru;
}
div#container header{
    color: white;
    background-color: #333;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
div#main{
    width: 100%;
    height: 600px;
    place-items: center;
    display: grid;
}
div#convertarea{
    
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    border-radius: 10px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255,255,255,0.6);

    
}